body {
    background-color: #F6F9FC;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.navmenu {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: gray;
    font-size: 20px;
}

.navmenu a {
    color: gray;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
}

.navmenu a:hover {
    color: rgba(249, 161, 252, 0.815);
}

.navmenu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(249, 161, 252);
    transition: width 0.3s ease, bottom 0.3s ease;
}

.navmenu a:hover::after {
    width: 100%;
    bottom: 0;
}

.profile-picture {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px; /* Add spacing below the image */
}