.navmenu {
    display:flex;
    text-align: right;
    cursor: pointer;
    all: unset;
    color: gray;
    font-size: 20px;
}

.navmenu a {
    color: Gray;
    text-decoration: none;
    margin: 0 10px;
}

.navmenu:hover {
    color: gray;
    text-decoration: beige;
}